
<div class="row">
<div class="col-md-2"></div>
  <div class="col-md-8">
<div class="superlinks">
	<ul class="nav navbar-nav">
    
	
      			      				
      				
      				{{Template::render("elements/submenu.htm",'text/html',array('menus' => @menu_principal[0],'title' => 'BICICLETADA' ))}}
      				
      				{{Template::render("elements/submenu.htm",'text/html',array('menus' => @menu_principal[1],'title' => 'AGENDA ' ))}}
      				{{Template::render("elements/submenu.htm",'text/html',array('menus' => @menu_principal[2],'title' => 'DESASTRE' ))}}
      				
      				{{Template::render("elements/submenu.htm",'text/html',array('menus' => @menu_principal[3],'title' => 'XTRAS' ))}}
	
    </ul>

</div>






</div>

</div>
<div class="col-md-2"></div>
</div>
{~ if(false): ~}



<div class="row superlinks">
  	
   <div class="col-md-2"></div>
   	<div class="col-md-3">
   	
   		{{Template::render("elements/submenu.htm",'text/html',array('menus' => @menu_principal[0]))}}
   		
   		
   		
   	</div>
   
   	<div class="col-md-3">
   
   		 {{Template::render("elements/submenu.htm",'text/html',array('menus' => @menu_principal[1]))}}
   	
   	</div>

   	<div class="col-md-3">
   	
   	
   	{{Template::render("elements/submenu.htm",'text/html',array('menus' => @menu_principal[2]))}}
   	
   		
   		
   	</div>
   	<div class="col-md-1"></div>
  </div>
  
  {~ endif ~}