				<div class="section-title">
					<span class="title">
        			{~ if( !empty(@section_image) && false): ~}
        				<img src="{{@uri}}/images/{{@section_image}}" alt="articles icon">
        			{~ endif ~}
        			{~ if( !empty(@section_title)): ~}
        				
        				{~ if(!empty(@link)): ~}
        					{{ App\Plugins\html::link(@link, i18n(@section_title)) }}
        					
        				{~ else: ~}
        				{{ i18n(@section_title)}}
        				{~ endif ~}
        			{~ endif ~}
        			</span>
        			<span class="options">
        				{~ if( !empty(@options)): ~}
        				
        					{~ foreach(@options as @key => @option): ~}
        					 
        						{{ App\Plugins\html::link(@option.link,@option.title) }} 
        						{~ if(@key < (count(@options)-1) ): ~} | {~ endif ~}
        					{~ endforeach ~}
        				{~ endif ~}
        			</span>
        		</div>
        		
        		{~ if( !empty(@section_subtitle) ): ~}
        			<h3>{{App\Plugins\html::i18n(@section_subtitle)}}</h3>
        		{~ endif ~}