
<li class="dropdown-submenu">
{{ App\Plugins\html::link("",@title, array("data-toggle" => "dropdown","class" => "blog-nav-item dropdown-toggle")) }}
					 <ul class="dropdown-menu">
{~ foreach(@menus as @key => @menu_item): ~}


	
				{~ if(@key == 0): ~}
				
					 
				{~ endif ~}
					
   		 			
      				 <li>{{ App\Plugins\html::link(@menu_item.link,@menu_item.title) }}</li>
   		 		
   				
   

{~ endforeach ~}
</ul>
</li>
{~ if(false): ~}

<a data-toggle="dropdown" class="blog-nav-item dropdown-toggle" href="/en/coalition/memberslist"><img alt="Coalition" src="/images/menu_coalition.png"><br>	Coalition</a>      					
      				<!--, "data-toggle" => "dropdown"--> 
      				 	<ul class="dropdown-menu">
      				 	      				 		<li>
      				 			<a href="/en/coalition/join">Join us</a>      				 		</li>
      				 	      				 		<li>
      				 			<a href="/en/coalition/memberslist">Members</a>      				 		</li>
      				 	                
      					</ul>
      				
      					

<br><br><br>

<a data-toggle="dropdown" class="blog-nav-item dropdown-toggle" href="/en/coalition/memberslist"><img alt="Coalition" src="/images/menu_coalition.png"><br>	Coalition</a>      					
      				<!--, "data-toggle" => "dropdown"--> 
      				 	<ul class="dropdown-menu">
      				 	      				 		<li>
      				 			<a href="/en/coalition/join">Join us</a>      				 		</li>
      				 	      				 		<li>
      				 			<a href="/en/coalition/memberslist">Members</a>      				 		</li>
      				 	                
      					</ul>
      				
      			      			
      			
      			
      			
      			
   		 	

<check if="{{ @menu_item.tipo == 'link' }}">
   		 		<true>
   		 			{{ App\Plugins\html::link(@menu_item.value,@menu_item.title) }}
   		 		</true>
   		 		<false>
   		 			{{ App\Plugins\html::link(@menu_item.link,@menu_item.title) }}
   				</false>
   			</check>
   			{{ App\Plugins\html::adminlink('/page/delete/'.@menu_item.id,'<span style="color:red; font-size:0.5em;vertical-align:top;" title="apagar">x</span>',array('class' => 'confirmation_link')) }}
   			<br>
   		{~ endif ~}