{~ foreach(@menus as @menu_item): ~}
   		 	<check if="{{ @menu_item.tipo == 'link' }}">
   		 		<true>
   		 			{{ App\Plugins\html::link(@menu_item.value,@menu_item.title) }}
   		 		</true>
   		 		<false>
   		 			{{ App\Plugins\html::link(@menu_item.link,@menu_item.title) }}
   				</false>
   			</check>
   			{{ App\Plugins\html::adminlink('/page/delete/'.@menu_item.id,'<span style="color:red; font-size:0.5em;vertical-align:top;" title="apagar">x</span>',array('class' => 'confirmation_link')) }}
   			<br>
{~ endforeach ~}