<div class="containing">

{{ App\Plugins\html::startForm(array("method" => "POST","class" =>"form-horizontal","enctype" => "multipart/form-data")) }}
	
	{{ App\Plugins\html::combo("original_language",@available_langs,array("label" => "New translation language (from ".@all_langs[@article.original_language].")","class" => "span12"))}}<br>
	<br>
	<!--	{{ App\Plugins\html::text("author_name",array("placeholder" => "Author name","label" => "Author name","class" => "span12","minlength" => 2)) }}<br/>
	{{ App\Plugins\html::text("author_email",array("placeholder" => "Author email","label" => "Author email","class" => "span12","minlength" => 2)) }}<br/>-->
	
	{{ App\Plugins\html::text("title",array("placeholder" => "Title","label" => "Title","class" => "span6","minlength" => 2)) }}
	<br>
	{{@article.title}}
	<br>
	{{ App\Plugins\html::hidden("original_article",@article.id) }}
	
	{{ App\Plugins\html::textArea("text",array("placeholder" => "Text","label" => "Text","class" => "span12 tinymce","minlength" => 2)) }}
	<br/>
	{{@article.text | raw}}
	<br/>
	
	
	{{ App\Plugins\html::submit("Submit translation",array("class" => "btn btn-primary")) }}
	
{{ App\Plugins\html::endForm() }}

</false>
</check>

</div>
