<div class="agenda-frackoff">
        			<h2>{{@meta.title}}</h2>
        			<p>{{@meta.description}}</p>
        			
        			<table>
        				<tbody>
        					<tr class="odd">
        						<td>Quando?</td>
        						<td>Onde?</td>
        						<td>O quê?</td>
        						<td></td>
        					</tr>
        					
        				    
        				    {~ if(count(@actions.results) > 0): ~}
        				    {~ foreach( @actions.results as @key => @item): ~}
        				    <tr class="odd">
        				    	<td>
        				    		{{ !empty(@item.link) ? '<a href="'.@item.link.'">': ''}}
        				    			
        				    		{{fdate(@item.when)}} {{!empty(@item.until) ? ' até '.fdate(@item.until) : '' }}
        				    		
        				    		
        				    		
        				    	</td>
        				    	<td>
        				    		{{@item.where}}
        				    	</td>
        				    	<td>
        				    	{{ !empty(@item.link) ? '<a href="'.@item.link.'">': ''}}
        				    	
        				    		{{@item.details | raw}}
        				    	{{ !empty(@item.link) ? '</a>': ''}}
        				    		<br>
        				    	</td>
        				    	<td>
        				    		{{\App\Plugins\html::adminlink('actions/edit/'.@item.id,'Editar') }}
        				    		{{\App\Plugins\html::adminlink('actions/delete/'.@item.id,'X',array('class' => 'confirmation_link')) }}
        				    	</td>
        				   	</tr>
        				   	{~ endforeach ~}
        				   	{~ endif ~}
        			  </tbody>
        			</table>
        			<hr>
        			{~ if(count(@actions.results) > 0): ~}
        				    {~ foreach( @actions.results as @key => @item): ~}
        				     {~ if(!empty(@item.img)): ~}
        				    	<div class="image_link">
        				    		<span class="image_desc">
        				    		{{fdate(@item.when)}} {{!empty(@item.until) ? ' até '.fdate(@item.until) : '' }}
        				    		</span>
        				    		<a href="{{@item.link}}">
        				    		{{\App\Plugins\html::img(@item.img) }}
        				    		
        				    		</a>
        				    	</div>
        				    {~ endif ~}
        					{~ endforeach ~}
        			{~ endif ~}