
      <div class="row">

        <div class="col-md-12 blog-main">
        	<div id="actions" class="containing">
        		
        		
        	
        			{{Template::render("elements/section-title.htm",'text/html',array('section_title' => 'Etapa 1',
        			)) }}
        			
        			{{Template::render("actions/actions.htm",'text/html',array('actions' => @actions)) }}
        			
        			<div style="clear:both;"></div>
        			<br><br>
        			
        			
        			{{\App\Plugins\html::link('actions/etapa2/','Ver segunda etapa...') }}
        			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        			{{\App\Plugins\html::adminlink('actions/addEtapa1/','  Adicionar paragem (etapa 1)') }}
        			
        		

        	</div>
</div>
</div>
</div>