
      <div class="row">

        <div class="col-md-12 blog-main">
        	<div id="actions" class="containing">
        		
        		
        	
        			{{Template::render("elements/section-title.htm",'text/html',array('section_title' => 'Agenda anti-fracking',
        			)) }}
        			
        			<h2>{{@meta.title }}</h2>
        			<p>{{@meta.description}}</p>
        			{{Template::render("actions/actions.htm",'text/html',array('actions' => @actions)) }}
        			
        			<div style="clear:both;"></div>
        			<br><br>
        			<a href="/{{@_SESSION.lang}}/actions/publish/new">Adicionar evento</a> |
        			<a href="/{{@_SESSION.lang}}/actions/past">Eventos anteriores...</a>
        			
        		

        	</div>
</div>
</div>
</div>