
      <div class="row">

        <div class="col-md-12 blog-main">
        	<div id="actions" class="containing">
        		
        		
        	
        			{{Template::render("elements/section-title.htm",'text/html',array('section_image' => 'menu_actions.png','section_title' => 'Eventos anteriores...',
        			)) }}
        			
        			{{Template::render("actions/actions.htm",'text/html',array('actions' => @actions)) }}
        			
        			<div style="clear:both;"></div>
        			<br><br>
        			
        			<a href="/{{@_SESSION.lang}}/actions">Próximos eventos...</a>
        			
        		

</div></div></div></div>
        			
        		
        		
        			
        			
        	
        	
        	
        		
        
         
 
    