
      <div class="row">

        <div class="col-md-12 blog-main">
        	<div id="actions" class="containing">
        		
        		
        	
        			{{Template::render("elements/section-title.htm",'text/html',array('section_image' => 'menu_actions.png','section_title' => 'Upcoming actions',
        			)) }}
        			
        			<!--<a href="/{{@_SESSION.lang}}/actions/publish/new"><button type="button" class="btn btn-primary btn-lg">Add an action to the map</button></a>-->
        			
        	<div id="actions_content">
        		{{ Template::render('actions/actions.htm','text/html',array('actions' => @actions)) }}
        		
        		
        	</div>
        	
        	
        	{~ if(@actions.total_pages > 1): ~}
        		<div class="more loadmore">
        			<input type="hidden" name="page" value="1">
        			<input type="hidden" name="div" value="#actions">
        			<input type="hidden" name="total_pages" value="{{@actions.total_pages}}">
        			<input type="hidden" name="url" value="actions/actions">
        			<a href="#">Load more...</a>
        		</div>
        		{~ endif ~}
        		</div>
        </div>
        	  
 </div>
    </div>