
	
	<div class="col-md-12">
		<div class="containing">
		
		
		
		<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
				<br><br>
				<div class="row">
					
					<div class="col-md-6">
					<h1>{{ App\Plugins\html::link(@event.link,@event.tempo_intervalo)}}</h1>
				
						<div class="article-date">
						
							<h2>{{ App\Plugins\html::link(@event.link,@event.partida_destino)}}</h2>						
						</div>
						
							<p>{{@event.details | raw}}</p>
						
						
						<h2>
      			
				
				</h2>
					</div>
					<div class="col-md-6">
					
						{~ if(!empty(@event.img)): ~}
				
							<div class="article-img">
								<img src="/{{ @event.img}}" class="img-responsive">
							</div>
				
						{~ endif ~}
						<h4>
						{~ if(!empty(@event.twitter_hashtags)): ~}
							{{ App\Plugins\html::hashtagify(@event.twitter_hashtags)}}
						{~ endif ~}
						</h4>
						{{ App\Plugins\html::hidden("gps_coords",@event.gps_coords) }}<br/>
						{~ if(!empty(@event.gps_coords)): ~}
						<div id="view_leafletmap">
		
						</div>
						{~ endif ~}
						{~ if(!empty(@event.link)): ~}
							Fonte: {{ App\Plugins\html::link(@event.link,@event.link)}}
						{~ endif ~}
				
					</div>
						<!--<div class="col-md-2">
						
						{{ Template::render('elements/author.htm','text/html',array('item' => @event,'show_name' => true)) }}
						</div>-->
				</div>
		
				
				
				
				
				
			
				
			</div>	
			</div>
				
				
      	

      	<div class="row">
      	
		<div class="col-md-3">
				{~ if(!empty(@event.link)): ~}
								Fonte: {{ App\Plugins\html::link(@event.link,_read_more)}}
				{~ endif ~}
      		
      			<br>
      			{{\App\Plugins\html::link(@event.share_url,'_share')}}
      			<p>
				
				<!--{{\App\Plugins\html::link('page/lang/'.@event.original_language,'> '.@available_langs[@event.original_language].' (Original)')}}-->
				
				{~ if(!empty(@event.translated) ): ~}
				
				{~ foreach(@event.translated as @lang): ~}<br/>
					{{\App\Plugins\html::userlink('page/lang/'.@lang,'> '.@available_langs[@lang])}}
					{{\App\Plugins\html::userlink('actions/deletetranslation/'.@event.id.'/'.@lang,'x')}}
				{~ endforeach ~}
				
				{~ endif ~}
				
				{{\App\Plugins\html::userlink('actions/addtranslation/'.@event.id,'_add_translation')}}<br>
				
				</p>
				{~ if(!empty(@SESSION.user) && @SESSION.user.is_admin == 1): ~}
      	
      	
      		<p>
      		{~ if(false): ~}
      		{~ if(@event.published != 1): ~}
				
				{{ \App\Plugins\html::userlink('actions/publishit/'.@event.id,'> Publish this action') }}
			{~ else: ~}
				{{ \App\Plugins\html::userlink('actions/hide/'.@event.id,'_hide_action') }}
				
			{~ endif ~}
			<br>
			{~ endif ~}
			
			
			{{\App\Plugins\html::userlink('actions/edit/'.@event.id,'_edit') }}<br>
			<!--{{\App\Plugins\html::adminlink('actions/delete/'.@event.id,'> Delete.') }}-->
			<br>
			
      		</div>
      		
      	{~ endif ~}
				
				<p>
					{~ foreach(@pending_translations as @pending): ~}
						{{\App\Plugins\html::userlink('actions/publishtranslation/'.@pending.id,'> Approve translation for '.@available_langs[@pending.original_language])}} <br>
					{~ endforeach ~}
				</p>
				
				</div>
				<div class="col-md-3">
		
      	<div class="col-md-6">
      	</div>
      	</div>
		</div>
		
	</div>	
	{{ Template::render('elements/discourse.htm')}}
	<!--<div class="col-md-6">
		<div class="containing">
		
		{{ Template::render('elements/disqus.htm')}}
		{~ if(!empty(@event.twitter_hashtags)): ~}
				{{ App\Plugins\html::hashtagify(@event.twitter_hashtags)}}
				
				{{\Template::render('live\social.htm','text/html',array('aggregations_social' => @aggregations_action,'hidememberinfo' => true))}}
		
		{~ endif ~}
		</div>
		
	</div>-->
	
