
<div class="row">

        <div class="col-md-12 blog-main">
        	<div id="rss" class="containing">
        		<div id='rss_content'>
        	
        		
        		
        	 	{{ Template::render('live/rss.htm') }}
        		</div>
        		{~ if(@aggregations.total_pages > 1): ~}
        		<div class="more">
        			<input type="hidden" name="page" value="1">
        			<input type="hidden" name="total_pages" value="{{@aggregations.total_pages}}">
        			<input type="hidden" name="url" value="live/rss">
        			<a href="#">Load more...</a>
        		</div>
        		{~ endif ~}
        		
        	</div>
        </div>
</div>

