

{~ foreach( @aggregations.results as @item): ~}
<div class="article row newpage">


				{~ if(!isset(@hidememberinfo)): ~}
        				<div class="col-md-2 article-member">
        					{{ Template::render('elements/member.htm','text/html',array('member' => @item.Members))}}
        				</div>
        				{~ if(!empty(@item.featured_image) && false): ~}
        						<div class="col-md-5 article-rss">
        				{~ else: ~}
        						<div class="col-md-9 article-rss">
        				{~ endif ~}
        		{~ else: ~}
        			{~ if(!empty(@item.featured_image)  && false): ~}
        						<div class="col-md-7 article-rss">
        			{~ else: ~}
        						<div class="col-md-12 article-rss">
        			{~ endif ~}
        		{~ endif ~}
        				<a href="{{@item.link}}">
        					<h3>{{@item.title | raw}}</h3>
        					<div class="article-date">
        					{{@item.postDate}}
        					{{date('F j, Y, H:i',strtotime(@item.postDate))}}
        						
        					</div>
        					</a>
        					<div class="article-body">
        						{~ if(!empty(@item.featured_image)): ~}
        					<div class="col-md-4">
        						<img class="img-responsive" src="{{@item.featured_image}}">
        					</div>
        				{~ endif ~}
        					
        					{{ @item.description | raw }} 
        				
        					</div>
        					
        					
        					{{\App\Plugins\html::link(@item.link,'_read_more')}}<br>
        					<a href="{{@item.share_url}}">{{\App\Plugins\html::i18n('_share')}}</a><br>
        					{{ \App\Plugins\html::link('/live/delete/'.@item.id,'_hide') }}
        					
        					
        					
        				
        				
        				
        						
        						</div>
					</div>
					<hr>
        		{~ endforeach ~}
        		
        		