
{{Template::render("coalition/join.htm") }}

<!--<ignore><div class="containing">

{{Template::render("elements/section-title.htm",'text/html',array('section_image' => 'menu_articles.png','section_title' => 'Edit user information','options' => array(array('link' => '/coalition/member/'.@POST.slug,'title' => 'Go back to profile page' ))))}}

{{ App\Plugins\html::startForm(array("method" => "POST","class" =>"form-horizontal","enctype" => "multipart/form-data")) }}	
	
	
	
	{{ App\Plugins\html::text("name",array("placeholder" => "Name","label" => "Name","class" => "span12","minlength" => 2)) }}<br/>
	{{ App\Plugins\html::textArea("summary",array("placeholder" => "Summary","label" => "Summary","class" => "span12","minlength" => 2)) }}<br/>
	
	<check if="{{ !empty(@POST.avatar)}}">
	<true>
		<img src="/{{@POST.avatar}}" alt="{{@POST.name}}"><br/>
	</true>
	</check>
	{{ App\Plugins\html::file("avatar",array("label" => "Avatar")) }}<br/>
	
	{{ App\Plugins\html::text("website",array("placeholder" => "Website","label" => "Website","class" => "span12","minlength" => 2)) }}<br/>
	
	{{ App\Plugins\html::text("slug",array("placeholder" => "Slug","label" => "Slug","class" => "span12","minlength" => 2)) }}<br/>
	
	{{ App\Plugins\html::text("rss_url",array("placeholder" => "RSS","label" => "RSS","class" => "span12","minlength" => 2)) }}<br/>
	{{ App\Plugins\html::text("facebook_account",array("placeholder" => "Facebook account","label" => "Facebook account","class" => "span12","minlength" => 2)) }}<br/>
	{{ App\Plugins\html::text("twitter_account",array("placeholder" => "Twitter account","label" => "Twitter account","class" => "span12","minlength" => 2)) }}<br/>
	{{ App\Plugins\html::text("twitter_hashtags",array("placeholder" => "Twitter hashtags","label" => "Twitter hashtags","class" => "span12","minlength" => 2)) }}<br/>
	
	{{ App\Plugins\html::combo("original_language",@available_langs,array("label" => "Original language","class" => "span12"))}}<br>
	
	{{ App\Plugins\html::text("founddate",array("placeholder" => "","label" => "Date of foundation","class" => "span12 datepicker-ui","minlength" => 2)) }}<br/>

	
	{{ App\Plugins\html::text("email",array("placeholder" => "Email","label" => "Email","class" => "span12","minlength" => 2)) }}<br/>
	{{ App\Plugins\html::password("password",array("placeholder" => "Password","label" => "Password","class" => "span12","minlength" => 2)) }}<br/>
	{{ App\Plugins\html::password("password_confirmation",array("placeholder" => "Password confirmation","label" => "Password confirmation","class" => "span12","minlength" => 2)) }}<br/>
	
	{{ App\Plugins\html::text("location",array("placeholder" => "Lisbon, Portugal","label" => "Location","class" => "span12","minlength" => 2)) }}<br/>
	
	<div id="join_leafletmap">
		
	</div>
	{{ App\Plugins\html::text("gps_coords",array("placeholder" => "","label" => "Pin","class" => "span12","minlength" => 2,"readonly" => true)) }}<br/>
	
	
	
	
	
	

	
	
	{{ App\Plugins\html::submit("Save modifications",array("class" => "btn btn-primary")) }}
	
{{ App\Plugins\html::endForm() }}



</div></ignore>-->
