
      <div class="row">
      
        <div class="col-md-8 blog-main">
        <!--{{ App\Plugins\html::adminlink("/configs/edithtmlpage/".@page.id,"edit",array("class" => "option_over")) }}-->
       <div class="containing actions-index">
       {{ \Template::render('elements/editable.htm','text/html',array('page' => @page))}}
        
        
        	
        	
        	
        	
        		{{Template::render("elements/section-title.htm",'text/html',array('section_image' => 'menu_actions.png','section_title' => 'Upcoming actions','link' => '/actions'))}}
        		
        		<div id="fullmap_leafletmap" data="{{@map_users}}" data2="{{ isset(@past_actions_map_users) ? @past_actions_map_users : '' }}" mapconfig="2">
        		
        			</div>
        			<a href="/{{@_SESSION.lang}}/actions/publish" class='over-map'><button type="button" class="btn btn-primary btn-lg">Add an action to the map</button></a>
        		{{Template::render("actions/actions.htm",'text/html',array('actions' => @actions,'map_users' => @map_users) )}}
        		{{App\Plugins\html::link('/actions/upcoming','View more')}}
        	</div>
        	
        	
          	 
           </div>
      
      <div class="col-md-4 blog-main">
      		<div class="containing">
        		{{Template::render("elements/section-title.htm",'text/html',array('section_image' => 'menu_live.png','section_title' => 'News/RSS','link' => '/live'))}}
        		{{Template::render("live/rss.htm",'text/html',array("hideshare" => true,'aggregations' => @aggregations))}}
        		{{App\Plugins\html::link('/live','View more')}}
        	</div>
        	<!--<div class="containing">
        		{{Template::render("elements/section-title.htm",'text/html',array('section_image' => '','section_title' => 'Map of solidarity'))}}
        			<div id="fullmap_leafletmap" url="/{{@lang_set}}/coalition/map">
        		
        		</div>
        		<!--{{App\Plugins\html::link('/coalition/map','View more')}}-->
        		<!--</div>-->
       	
       		
       
       
           <div class="containing">
        		{{Template::render("elements/section-title.htm",'text/html',array('section_image' => '','section_title' => 'Live'))}}
			{{Template::render("live/social.htm",'text/html',array("hideshare" => true,'aggregations_social' => @aggregations_social))}}
        		{{App\Plugins\html::link('/live','View more')}}
        	</div>
       </div>
       
       
       
       </div><!-- /.row -->

    