
	
      	{{ \Template::render('elements/section-title.htm','text/html',array('section_title' => 'Rede'))}}
      	
      	<div class="col-md-4">
      	
      	{~ if(!empty(@member.avatar)): ~}
      		{{ !empty(@member.website) ? '<a href="'.@member.website.'" target="_blank">' : '' }}
      		<img class="img-responsive avatar" src="/{{@member.avatar}}" alt="{{@member.name}}">
      		{{ !empty(@member.website) ? '</a>' : '' }}
      		
      		
      	{~ else: ~}
      		<p>{{@member.name}}</p>
      	{~ endif ~}
      	<br/>
      	{~ if(!empty(@member.rss_url)): ~}
      		{{ \App\Plugins\html::link(@member.rss_url,'<img class="icon" src="'.@uri.'images/rss.png" alt="RSS"> ') }}
      	{~ endif ~}
      	
      	{~ if(!empty(@member.twitter_account)): ~}
      		{{ \App\Plugins\html::link("https://twitter.com/".@member.twitter_account,'<img class="icon" src="'.@uri.'images/twit.png" alt="Twitter Account">') }} <!--  [ {{@member.twitter_hashtags }} ]-->
      		
      	{~ endif ~}
      	
      	{~ if(!empty(@member.facebook_account)): ~}
      		{{ \App\Plugins\html::link(@member.facebook_account,'facebook') }}
      	{~ endif ~}
      	</div>
      	<div class="col-md-8">
      
      	
      	<!--{~ if(!empty(@member.website)): ~}
      		{{ !empty(@member.website) ? '<a href="'.@member.website.'" target="_blank">' : '' }}
      		<p>{{ @member.website }}</p>
      		{{ !empty(@member.website) ? '</a>' : '' }}
      	{~ endif ~}
      	-->
      	
      	
      	
      	
      	<p>{{@member.summary}}</p>
      	</div>
      	