<div class="coalition">
      <div class="row member">
      <div class="col-md-3">
      	<div class="containing">
      	
      	
      	
      	{~ if(!empty(@SESSION.user) && @SESSION.user.is_admin == 1): ~}
      	<div class="containing">
      	<b>Moderator options</b>
      		<p>
      		{~ if(@member.activated == 0): ~}
        							 
        							{{ App\Plugins\html::adminlink("/@controller/activate/".@member.id,"Activate",array('title' => "here")) }}
        	{~ elseif (@member.published == 0): ~}
      			 
      			{{ App\Plugins\html::adminlink("/@controller/publish/".@member.id,"Show it!",array('title' => "here")) }}
      		{~ endif ~}
      		</p>
      		<p>
      		{{ \App\Plugins\html::adminlink('coalition/edit/'.@member.id,'Edit member info') }}</p>
      		
      		{~ if(@member.activated != 0 && @member.published != 0): ~}
      			
      			{{ App\Plugins\html::adminlink("/@controller/hide/".@member.id,"Hide user!",array('title' => "hide",'class' => 'confirmation_link')) }}
      		{~ endif ~}
      		<!--<p>You can <u>remove</u> this member clicking
      			{{ App\Plugins\html::adminlink("/@controller/remove/".@member.id," here ",array('title' => "hide",'class' => 'confirmation_link')) }}-->
      		</p>
      		
      	
      		</div>
      		<br/>
      	{~ endif ~}
      	{~ if (!empty(@SESSION.user) && @SESSION.user.id == @member.id): ~}
      		<div class="containing">
      			<p> 
      			{{ \App\Plugins\html::link('coalition/edit/'.@member.id,'Edit my info') }}</p>
      		</div>
      	{~ endif ~}
      	
      	
      	{{ Template::render('coalition/member_details.htm')}}
      	<!-- submetido<br>
      	
      	nome<br>
        		localidade<br>
        		mapa<br>
        	-->	
        		
        		
      	</div>
      </div>
      
      
      {~ if(count(@aggregations.results) > 1): ~}
      
      {~ if(count(@aggregations_social.results) > 0): ~}
      	<div class="col-md-5 blog-main">
      {~ else: ~}
      	<div class="col-md-9 blog-main">
      {~ endif ~}
        	<div id="rss" class="containing">
        	
        	
        	<div id='rss_content'>
        		<div class="section-title">
        		<img src="/images/menu_live.png" alt="articles icon">
        		News/RSS
        	</div>
        	{{Template::render("live/rss.htm")}}
        	</div>
        	{~ if(@aggregations.total_pages > 1): ~}
        		<div class="more">
        			<input type="hidden" name="page" value="1">
        			<input type="hidden" name="p1" value="{{@member.id}}">
        			<input type="hidden" name="total_pages" value="{{@aggregations.total_pages}}">
        			<input type="hidden" name="url" value="live/rss">
        			<a href="#">Load more...</a>
        		</div>
        	{~ endif ~}
        </div>
        </div>
         {~ if(count(@aggregations_social.results) > 0): ~}
         	<div class="col-md-4 blog-main">
         {~ endif ~}
        {~ else: ~}
        	<div class="col-md-9 blog-main">
        {~ endif ~}
       {~ if(count(@aggregations_social.results) > 0): ~}
        <div id="social_networks" class="containing">
        	<div id='social_networks_content'>
        	<div class="section-title">
        		<img src="/images/menu_live.png" alt="articles icon">
        		Social networks
        	</div>
        	{{Template::render("live/social.htm")}}
        	</div>
        	
        	{~ if(@aggregations_social.total_pages > 1): ~}
        		<div class="more">
        			<input type="hidden" name="page" value="1">
        			<input type="hidden" name="p1" value="{{@member.id}}">
        			<input type="hidden" name="total_pages" value="{{@aggregations_social.total_pages}}">
        			<input type="hidden" name="url" value="live/social">
        			<a href="#">Load more...</a>
        		</div>
        	{~ endif ~}
        	
          </div>
         </div>
        {~ endif ~}

      </div><!-- /.row -->

</div>