<div class="coalition">
      
      	
      	
      	
      	
      	<div class="row containing member">
      		{{ Template::render('coalition/member_details.htm')}}
      	</div>
      	
      	
      
      
     
       <div class="row member">
       
      {~ if(count(@aggregations.results) > 1): ~}
      
      {~ if(count(@aggregations_social.results) > 0): ~}
      	<div class="col-md-8 blog-main">
      {~ else: ~}
      	<div class="col-md-12 blog-main">
      {~ endif ~}
        	<div id="rss" class="containing">
        	
        	
        	
        		<hr>
        		
        	{{Template::render("live/rss.htm")}}
        	</div>
        	{~ if(@aggregations.total_pages > 1): ~}
        		<div class="more">
        			<input type="hidden" name="page" value="1">
        			<input type="hidden" name="p1" value="{{@member.id}}">
        			<input type="hidden" name="total_pages" value="{{@aggregations.total_pages}}">
        			<input type="hidden" name="url" value="live/rss">
        			<a href="#">Load more...</a>
        		</div>
        	{~ endif ~}
        </div>
        </div>
         {~ if(count(@aggregations_social.results) > 0): ~}
         	<div class="col-md-4 blog-main">
         {~ endif ~}
        {~ else: ~}
        	<div class="col-md-12 blog-main">
        {~ endif ~}
       {~ if(count(@aggregations_social.results) > 0): ~}
        <div id="social_networks" class="containing">
        	<div id='social_networks_content'>
        	<div class="section-title">
        		<img src="{{@uri}}/images/menu_live.png" alt="articles icon">
        		Social networks
        	</div>
        	{{Template::render("live/social.htm")}}
        	</div>
        	
        	{~ if(@aggregations_social.total_pages > 1): ~}
        		<div class="more">
        			<input type="hidden" name="page" value="1">
        			<input type="hidden" name="p1" value="{{@member.id}}">
        			<input type="hidden" name="total_pages" value="{{@aggregations_social.total_pages}}">
        			<input type="hidden" name="url" value="live/social">
        			<a href="#">Load more...</a>
        		</div>
        	{~ endif ~}
        	
          </div>
         </div>
        {~ endif ~}

      </div><!-- /.row -->
</div>
</div>