<div class="article members row superlinks">
{~ foreach( @members.results as @key => @item): ~}


			{~ if((@key)%4 == 0 ): ~}
			
				</div>
				<div class="article members row">
			{~ endif ~}
			
			
			{~ if(@item.activated == 0): ~}
			    
				<div class="col-md-3 article-member item_inactive">
			{~ elseif(@item.published == 0): ~}
				<div class="col-md-3 article-member item_hidden">
			{~ else: ~}
				<div class="col-md-3 article-member">
			{~ endif ~}
						<div class="member-logo">
        				{{ !empty(@item.website) ? '<a href="'.@item.website.'" target="_blank">' : '' }}
        				{~ if(!empty(@item.avatar)): ~}
        						<img class="img-responsive center-block avatar" src="/{{@item.avatar}}" class="" alt="{{@item.name}}">
        				{~ endif ~}
        				{{ !empty(@item.website) ? '</a>' : '' }}
        				</div>
        				
        				
        				<p class="member-site">
        				{{ !empty(@item.website) ? '<a href="'.@item.website.'" target="_blank">' : '' }}
        					{{@item.name}}
        				{{ !empty(@item.website) ? '</a>' : '' }}
        				</p>
        				<p class="member-links">
        				{~ if(!empty(@item.rss_url)): ~}
        					{{ \App\Plugins\html::link(@item.rss_url,'<img class="icon" src="'.@uri.'images/rss.png" alt="RSS"> ') }}
        				{~ endif ~}
        				{~ if(!empty(@item.twitter_account)): ~}
        					{{ \App\Plugins\html::link("https://twitter.com/".@item.twitter_account,'<img class="icon" src="'.@uri.'images/twit.png" alt="Twitter Account">') }} <!--  [ {{@member.twitter_hashtags }} ]-->
        				{~ endif ~}
        				{~ if(!empty(@item.facebook_account)): ~}
        					{{ \App\Plugins\html::link(@item.facebook_account,'<img class="icon" src="'.@uri.'images/fb.png" alt="Facebook"> ') }}
        				{~ endif ~}
        				</p>
        				
        				<p class="member-summary">{{ \App\Plugins\html::link('/coalition/member/'.@item.slug,@item.summary) }}</p>
        				
        	</div>
        	
        	
     		
{~ endforeach ~}
				</div>
				
        		
        		