
      <div class="row">
      
        <div class="col-md-12 blog-main">
        	<div id='members' class="containing">
        	
        	{{ \Template::render('elements/editable.htm','text/html',array('page' => @page))}}
        	
        	
        	
        		<div style="clear:both"></div>
        		
        		<div id='members_content'>
        		
        		{{Template::render("coalition/membersboard.htm")}}
        		</div>
        		{~ if(@members.total_pages > 1): ~}
        		<div class="more">
        			<input type="hidden" name="page" value="1">
        			<input type="hidden" name="total_pages" value="{{@members.total_pages}}">
        			<input type="hidden" name="url" value="coalition/members">
        			<a href="#">Load more...</a>
        		</div>
        		{~ endif ~}
          	 
          	 <br/><br/>
          	 {{ \App\Plugins\html::adminlink('/coalition/createmember','Adicionar novo membro')}}
          	 
          	 </div>
           </div>
           
       
       </div><!-- /.row -->

    