
	
      	
      	<div class="col-md-6">
      	<h1>
      	{{ !empty(@member.website) ? \App\Plugins\html::link(@member.website,@member.name) : @member.name}}</h1>
      	<p>{{@member.summary}}</p>
      	</div>
      	<div class="col-md-6">
      	
      	
      	<p class="text-right">
      	{~ if(!empty(@member.avatar)): ~}
						{{ !empty(@member.website) ? \App\Plugins\html::link(@member.website,'<img class="img-responsive avatar" src="/'.@member.avatar.'" class="" alt="'.@member.name.'">') : '<img class="img-responsive avatar" src="/'.@member.avatar.'" class="" alt="'.@member.name.'">' }}
		{~ endif ~}
		
		
      	<br/>
      	
      	{{ !empty(@member.website) ? \App\Plugins\html::link(@member.website,'Site') : ''}}
      	{~ if(!empty(@member.rss_url)): ~}
      		{{ \App\Plugins\html::link(@member.rss_url,'<img class="icon" src="'.@uri.'images/rss.png" alt="RSS"> ') }}
      	{~ endif ~}
      	
      	{~ if(!empty(@member.twitter_account)): ~}
      		{{ \App\Plugins\html::link("https://twitter.com/".@member.twitter_account,'<img class="icon" src="'.@uri.'images/twit.png" alt="Twitter Account">') }} <!--  [ {{@member.twitter_hashtags }} ]-->
      		
      	{~ endif ~}
      	
      	{~ if(!empty(@member.facebook_account)): ~}
      		{{ \App\Plugins\html::link(@member.facebook_account,'facebook') }}
      	{~ endif ~}
      	</p>
      	</div>
      	
      	