<!DOCTYPE html>
<html {{ !empty(@lang_set) ? 'lang='.@lang_set : '' }}>
  <head>
    <meta charset="{{@CHARSET}}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{@TITLE}}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/colorbox.css">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <link rel="stylesheet" href="/css/MarkerCluster.Default.css"/>
    <link rel="stylesheet" href="/css/MarkerCluster.css"/>

    <link href="/css/jquery-ui.css" rel="stylesheet">
    
    <link rel="stylesheet" href="/css/style.css">
    
    <script src="/js/jquery.min.js"></script>
     <script src="/js/jquery-ui.min.js"></script>
     
  </head>
  <body>
  <div class="blog-masthead-logo">
  	<a href="/"><img src="/images/logo.png" alt="Housing for people not for profit"></a>
  </div>
    <div class="blog-masthead">
      <div class="container">
      
      <nav class="blog-nav">
      	
        <repeat group="{{ @topmenus }}" value="{{ @item }}">
        		<check if="{{ strpos(@item.link,@controller) !== false }}">
        			<true>
        				{{ App\Plugins\html::link(@item.link,"<img src='/images/".@item.image."' alt='".@item.title."'><br/>	".@item.title,array("class" => "blog-nav-item active")) }}
        			</true>
        			<false>
        				{{ App\Plugins\html::link(@item.link,"<img src='/images/".@item.image."' alt='".@item.title."'><br/>	".@item.title,array("class" => "blog-nav-item")) }}
        			</false>
        		</check>
				
				
		</repeat>
        </nav>
        
        <nav class="lang-nav">
        
        <repeat group="{{ @langs }}" value="{{ @item }}">
        		{~ if(@item.alias == @lang_set): ~}
        			<a class="blog-nav-item active" href="/{{@lang_set}}/page/lang/{{@item.alias}}">{{@item.alias}}</a> |
        		{~ else: ~}
        				<a class="blog-nav-item" href="/{{@lang_set}}/page/lang/{{@item.alias}}">{{@item.alias}}</a> |
        		{~ endif ~}
		</repeat>
		
        </nav>
       
        	
      </div>
    </div>
<div class="container-fluid">

     <div class="row">
     <div class="col-md-12"></div>
     </div>
     	{{Template::render("elements/msg.htm")}}
     	
        		{{Template::render(@content)}}
        </div>
</div><!-- /.container -->
<br/>
    <footer class="blog-footer">
    	<div class="row-fluid">
    	<div class="col-md-2">
    		<img src="/images/logo.png" alt="Housing for people not for profit">
    	</div>
    	<div class="col-md-6">
    			
    			
    			 
    			 <p>European action coalition for the right to housing and to the city</p>
    	</div>
    		<div class="col-md-4">
    			
    		</div>
    	</div>
    	</div>
    	
    </footer>

    
     
      <script src="/js/bootstrap.min.js"></script>
      
      
      <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
      <script src="/js/leaflet-providers.js"></script>
      <script src="/js/leaflet.markercluster.js"></script>
      <script src="//tinymce.cachefly.net/4.1/tinymce.min.js"></script>
      <script src="/js/main.js"></script>
      
  </body>
</html>